name: Run LabVIEWCLI on Linux Container

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  run-labview-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Pull LabVIEW container image
        run: docker pull nationalinstruments/labview:latest-linux

      - name: Run LabVIEWCLI MassCompile on Arrays
        run: docker run --rm nationalinstruments/labview:latest-linux bash -c "LabVIEWCLI -OperationName MassCompile -DirectoryToCompile /usr/local/natinst/LabVIEW-2026-64/examples/Arrays -LabVIEWPath /usr/local/natinst/LabVIEW-2026-64/labview -Headless"

      - name: Run CI integration LabVIEW MassCompile script in container
        run: docker run --rm -v "${{ github.workspace }}:/workspace" nationalinstruments/labview:latest-linux bash -c "LabVIEWCLI -OperationName MassCompile -DirectoryToCompile /workspace -LabVIEWPath /usr/local/natinst/LabVIEW-2026-64/labview -Headless"

      - name: Run CI integration LabVIEW VI Analyzer script in container
        run: docker run --rm -v "${{ github.workspace }}:/workspace" nationalinstruments/labview:latest-linux bash -c "LabVIEWCLI -OperationName RunVIAnalyzer -ConfigPath /labview/VIAnalyzerConfig/VIAnalyzerConfig.viancfg -ReportPath /labview/report/results.txt -LabVIEWPath /usr/local/natinst/LabVIEW-2026-64/labview -Headless"
